* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}
main {
  width: 100%;
}

main section {
  width: 100%;
  padding: var(--padding-2xl);
  display: flex;
  gap: var(--gutter-md);
}

.btn {
  padding: var(--padding-sm) var(--padding-lg);
  border: none;
  border-radius: var(--border-radius-md);
  outline: none;
  cursor: pointer;
  background-color: var(--bg-active-color);
  color: var(--text-active-color);
}

#reset-btn {
  background-color: var(--bg-danger-color);
  color: var(--text-primary-color);
}
main section .top {
  display: flex;
  align-items: center;
  gap: var(--gutter-md);
}

main section .left {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-lg);
  width: 70%;
  align-items: center;
}

main section .right {
  width: 30%;
  background-color: var(--bg-secondary-color);
  padding: var(--padding-lg);
  border-radius: var(--border-radius-md);
}
#download-btn {
  background-color: var(--bg-success-color);
  color: var(--text-primary-color);
}

main section .bottom {
  background-color: var(--bg-secondary-color);
  width: 100%;
  padding: var(--padding-2xl);
  aspect-ratio: 5/3;
  border-radius: var(--border-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
}
main section .bottom .placeholder {
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0.6;
}

main section .bottom .placeholder i {
  font-size: 10rem;
}
main section .right {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-md);
}
main section .right .filters {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-lg);
}
main section .right .filter {
  width: 100%;
}

main section .right .filter input {
  width: 100%;
  outline: none;
  margin-top: var(--margin-sm);
  appearance: none;
}

main section .right .filter input::-webkit-slider-runnable-track {
  background-color: var(--bg-active-color);
  height: 3px;
}

main section .right .filter input::-webkit-slider-thumb {
  cursor: pointer;
  background-color: blue;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: -7.1px;
}

canvas {
  max-width: 100%;
  min-height: 80vh;
  object-fit: cover;
  display: none; /* 👈 IMPORTANT */
}
